#container{
	height:100%;
	width:20%;
	display: flex;
}
.column {
    width: 10%;
	padding: 10px;
	display: table-cell;
	border-style: dashed;
	border-color:black;
	background-color: aquamarine;
}

canvas{
	display: table-cell;
	border-style: dashed;
	border-color:black;
}


ul {
    list-style-type: none;
	padding-left:10px;
}

ul li {
	margin: 0 0 10px 0;
}

h3 {
	padding: 0px;
	margin:4px;
}

h4 {
	padding: 0px;
	margin-left:8px;
	margin-right:10px;
	margin-top:15px;
	margin-bottom:4px;
	height:fit-content;
	width:fit-content;

}

a.selected{
    background-color: rgb(226, 88, 88);
}

a {color:#5d075d;}         /* Unvisited link  */
a:visited {color:#5d075d;} /* Visited link    */
a:hover {color:#ff8400;}   /* Mouse over link */
a:active {color:#0000FF;}  /* Selected link   */


#container{
    position:absolute;
	height:100%;
	width: 100%;
	background-color:navajowhite;
}


#fileinput + label {
	cursor:pointer;
	color: #5d075d;
	text-decoration: underline;
}
#fileinput:hover + label{
	color:#ff4492;
}

input[type="file"] {
    display: none;
}


.show {
	display:block;
}
.hide {
	display:none;
}
