body {
	overflow: auto; 
	height: 1%;
	min-width:850px;
}

ul {
    list-style-type: none;
}

a.selected{
	pointer-events: none;
    background-color: rgb(255, 0, 0);
	user-select: none;
}

#container{
    position:absolute;
	height:100%;
	width: 100%;
	min-width:850px;
	background-color:none;
}

#tools {
	top:0px;
	left:50px;
}

#shapes {
    top:250px;
	left:50px;
}

#canvas {
    /*	border:2px solid #cc0000;*/
	padding:0px;
	z-index: 0;
	margin:0px auto;
	margin-top:105px;
	position:absolute;
	left:50%;
	margin-left:-250px;
}

.options {
    position:absolute;
	padding-bottom:0px;
	width: 110px;
    margin:140px 30px;
	border:1px solid rgb(0,0,0);
	background: rgb(88, 207, 162);
}